*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PopLight;
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: PopRegular;
    src: url('../fonts/Poppins-Regular.ttf');
}

body {
    font-family: PopRegular;
    color: #FFF;
}

.container {
    width: 90%;
    margin: auto;
}

/* Header */

header {
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .brand-name a {
    color: #1ad3ea;
    text-decoration: none;
    font-size: 32px;
    font-weight: 800;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    padding-left: 50px;
    line-height: 80px;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 18px;
    display: block;
    position: relative;
}

nav ul li a::before {
    content: '';
    height: 3px;
    width: 0;
    background-color: #1ad3ea;
    position: absolute;
    transition: all 0.5s ease;
    bottom: -1px;
}

nav ul li a:hover::before {
    content: '';
    height: 3px;
    width: 100%;
    background-color: #1ad3ea;
    position: absolute;
    bottom: -1px;
}

nav ul li a.active::before {
    content: '';
    height: 3px;
    width: 100%;
    background-color: #1ad3ea;
    position: absolute;
    bottom: -1px;
}

/* HOME */
.home {
    background-image: url('../img/blur-close-up-code-computer-546819-2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home .home-content {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.home .home-content .detail {
    grid-column: 2/3;
    align-self: center;
}

.home .home-content .detail h3 {
    color:#1ad3ea;
    font-size: 30px;
    font-weight: 1000;
}

.home .home-content .detail h1 {
    color:#FFF;
    font-size: 59px;
    font-weight: bold;
}

.home .home-content .detail p {
    color:#FFF;
    font-size: 22px;
    font-weight: bolder;
    padding-bottom: 40px;
}

.home .home-content .detail a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #FFF;
    padding: 15px 40px;
    border-radius: 5px;
    
}

.home .home-content .detail .btn-work {
    background-color: #1a1a1a;
}

.home .home-content .detail .btn-work:hover {
    background-color: transparent;
}

.home .home-content .detail .btn-contact:hover {
    background-color: #1a1a1a;
}

.home .home-content .detail .btn-contact {
    margin-left: 20px;
}

/* about */
.about {
    color: #0b0b0b;
    height: 100vh;
}

/* @media screen */
@media screen and (max-width: 778px) {

    
    /* header */

    header {
        background-color: #0b0b0b;
    }

    .navbar {
        line-height: 72px;
    }

    header nav .nav-links li {
        padding: 0;
        justify-self: center; 
    }

    header nav .nav-links {
        position: absolute;
        background-color: #0b0b0b;
        left: 0;
        top: 78px;
        width: 100%;
        display: grid;
        clip-path: circle(18px at 90% -10%);
        -webkit-clip-path: circle(18px at 90% -10%);
        transition: all 1s ease-in-out;
    }

    header nav .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }

    .hamburger {
        display: inline;
        grid-column: 3;
        justify-self: right;
        align-self: center;
    }

    .hamburger .line {
        height: 3px;
        width: 40px;
        background-color: #FFF;
        margin-top: 5px;
    }

    /* home */

    .home-content .detail {
        grid-column: 1/3 !important;
    }

    .home-content .detail h3 {
        font-size: 22px !important;
    }

    .home-content .detail h1 {
        font-size: 42px !important;
    }

    .home-content .detail p {
        font-size: 18px !important;
    }

    .home .home-content .detail a {
        text-decoration: none;
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        padding: 10px 30px;
    }


}


/* About */
