*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PopLight;
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: PopRegular;
    src: url('../fonts/Poppins-Regular.ttf');
}

body {
    font-family: PopRegular;
    color: #FFF;
}

.container {
    width: 90%;
    margin: auto;
}

/* Header */
.bubble {
    position: absolute;
    z-index: -2;
    border-bottom: 2px solid #1ad3ea;
    transition: all 0.5s ease;
    transform: scaleX(2);
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize; */
}

header {
    position: fixed;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
    background-color: #212529;
}

.hamburger {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .brand-name, nav ul {
    flex: 1;
}

nav .brand-name a {
    color: #1ad3ea;
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    position: relative;
}

/* nav .brand-name a::before {
    content: '';
    height: 2px;
    background-color: #1ad3ea;
    position: absolute;
    width: 100%;
    top: 100%;
} */

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    line-height: 72px;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 18px;
    display: block;
    position: relative;
}   



nav ul li a {
    text-decoration: none;
    color: #868e96;
    font-weight: 500;
    font-size: 18px;
    display: block;
    position: relative;
}

nav ul li a.active {
    color: #FFF;
}

nav ul li a:hover {
    color: #FFF;
}


nav ul li a::before {
    content: '';
    height: 1px;
    width: 0;
    background-color: #1ad3ea;
    position: absolute;
    transition: all 0.5s ease;
    bottom: -1px;
    transform: scale(2);
}

nav ul li a:hover::before {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #1ad3ea;
    position: absolute;
    bottom: -1px;
    transform: scale(2);
    
} 

/* nav ul li a.active::before { 
    content: '';
    height: 1px;
    width: 100%;
    background-color: #1ad3ea;
    position: absolute;
    bottom: -1px;
    transform: scale(2);
} */

/* HOME */
.home {
    /* background-image: url('../img/home-back-1.jpg'); */
    background-color: #343a40;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-bubble-1 {
    right: 0;
}

.bg-bubble-2 {
    left: 0;
    bottom: 0;
}

.bg-bubble-1 h3, .bg-bubble-2 h3{
    font-size: 32px;
    color: #868e96;
}

.bg-bubble-2, .bg-bubble-1{
    height: 200px;
    width: 200px;
    background-color: rgba(48, 74, 80, 0.5);
    /* background-color: #2b5a60; */
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-bubble-3{
    height: 100px;
    width: 100px;
    background-color: rgba(48, 74, 80, 0.5);
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    color: #868e96;
}

.home-content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-content .detail h3 {
    color:#1ad3ea;
    font-size: 30px;
    font-weight: 1000;
}

.home .home-content .detail h1 {
    color:#FFF;
    font-size: 59px;
    font-weight: bold;
}

.home .home-content .detail p {
    color:#FFF;
    font-size: 22px;
    padding-bottom: 40px;
}

.home .home-content .detail a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #FFF;
    padding: 10px 30px;
    border-radius: 5px;
    
}

.home .home-content .detail .btn-work {
    background-color: #212529;
}

.home .home-content .detail .btn-work:hover {
    background-color: transparent;
}

.home .home-content .detail .btn-contact:hover {
    background-color: #212529;
}

.home .home-content .detail .btn-contact {
    margin-left: 20px;
}

/* End home */



/* about */
.about {
    margin: 70px 0 100px 0;
    color: #0b0b0b;
    min-height: 100vh;
}

.about-content .detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "detail-title detail-title"
    "desc ."
    "hero info";
    grid-gap: 20px 20px;
}

.about-content .detail .detail-title {
    grid-area: detail-title;
    display: flex;
}

.about-content .detail .detail-title h1 {
    position: relative;
    font-size: 32px;
    display: block;
}

.about-content .detail .detail-title h1::before {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #1ad3ea;
    top: 90%;
    overflow: hidden;

}

.about-content .detail p {
    grid-area: desc;
    text-align: justify;
}

.about-content .detail .hero {
    grid-area: hero;
}

.about-content .detail .detail-information {
    grid-area: info;
    width: 100%;
}

.about-content .hero img {
    height: 500px;
}

.about-content .detail .detail-information .block {
    display: flex;
    justify-content: space-between;
}

.about-content .detail .detail-information .block label, .about-content .detail .detail-information .block span {
    flex:1;
    padding-top: 10px;
    font-size: 16px;
}

.about-content .detail .detail-information .social {
    padding-top: 20px;
    display: flex;
}

.about-content .detail .detail-information .social a {
    padding-right: 10px;
    text-decoration: none;
    color: #1a1a1a;
    font-size: 12px;
} 

/* footer */
footer {
    height: 20vh;
    background-color: #343a40;
}

footer .desc {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .desc h1 {
    color: #868e96;
}

footer .desc .social {
    padding-top: 20px;
}

footer .desc .social a {
    color: #347b84;
    font-size: 14px;
}

footer .copyright  {
    min-height: 10vh;
    background-color: #212529;  
}

footer .copyright .container {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .copyright .container p {
    color: #868e96;
    font-size: 14px;
}

/* @media screen */
@media screen and (max-width: 778px) {

    .bg-bubble-2{
        height: 100px;
        width: 100px;
    }

    .bg-bubble-2 h3{
        font-size: 18px;
    }

    .bg-bubble-1 {
        display: none;
    }

    .bg-bubble-3 {
        height: 50px;
        width: 50px;
    }

    .bg-bubble-3{
        font-size: 12px;
    }
    
    /* header */
    header {
        background-color: #1a1a1a;
    }

    .bubble {
        display: none;
    }

    .navbar {
        line-height: 72px;
    }

    header nav .brand-name a {
        font-size: 18px;
    }

    header nav .nav-links li{
        width: 90%;
        margin: auto;
    } 

    header nav .nav-links {
        background-color: #212529;
        position: absolute;
        flex-direction: column;
        top: 76px;
        left: 0;
        width: 100%;
        clip-path: circle(18px at 90% -10%);
        -webkit-clip-path: circle(18px at 90% -10%);
        transition: all 1s ease-in-out;
    }

    nav ul li a.active::before { 
        content: '';
        height: 1px;
        width: 100%;
        background-color: #1ad3ea;
        position: absolute;
        bottom: -1px;
        transform: scale(2);
    }

    header nav .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }

    .hamburger {
        display: inline;
        grid-column: 3;
        justify-self: right;
        align-self: center;
    }

    .hamburger .line:first-child {
        margin-top: 0px;
    }

    .hamburger .line {
        height: 3px;
        width: 30px;
        background-color: #FFF;
        margin-top: 5px; 
    }

    /* home */

    .home-content .detail {
        /* grid-column: 1/3 !important; */
        display: flex;
        flex-direction: column;
    }

    .home .home-content .detail .btn-contact {
        margin: 20px 0 0 0;
    }

    .home-content .detail h3 {
        font-size: 18px !important;
    }

    .home-content .detail h1 {
        font-size: 28px !important;
    }

    .home-content .detail p {
        font-size: 14px !important;
    }

    .home-content .detail p {
        padding-bottom: 15px !important;
    }

    .home .home-content .detail a {
        text-decoration: none;
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        padding: 5px;
        text-align: center;
    }

    /* About */
    
    .about-content .detail{
        display: flex;
        flex-direction: column;
    }

    .about-content .hero img {
        padding-top: 10px;
        height: 50%;
        width: 100%;
    }

    .about-content .detail .detail-information {
        padding-top: 10px;
    }

    /* footer */
    footer .desc h1 {
        font-size: 18px;
    }
    

    footer .desc .social a {
        font-size: 12px;
    }

    footer .copyright .container{
        flex-direction: column;
        justify-content: center;
    }

    footer .copyright .container p {
        font-size: 12px;
    }

}




